{% extends 'base.html' %} {% load static %} {% block content %}

<section class="popular" id="popular">

    <h1 class="heading"> Food  <span>List of</span> {{category.name}} </h1>
  
    <div class="box-container">
        {% for product in products %}
        <div class="box">
            <span class="price"> BDT {{ product.price }} </span>
            <img src="{{ product.cover_image.url }}" alt="">
            <h3>{{ product.name }}r</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="#" class="btn-custom">order now</a>
        </div>
        {% endfor %}
    </div>
  
  </section>

{% endblock content %}
