{% extends 'base.html' %} {% load static %} {% block content %}

<section class="home" id="home">
  <div class="content">
    <h3 class="fs-1">Food Made With Love</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas accusamus
      tempore temporibus rem amet laudantium animi optio voluptatum. Natus obcaecati
      unde porro nostrum ipsam itaque impedit incidunt rem quisquam eos!
    </p>
    <a href="#popular" class="btn-custom">Order Now</a>
  </div>

  <div class="image">
    <img src="{% static 'media/images/home-img.png' %}" alt="" />
  </div>
</section>

<div class="container">
  <section class="speciality" id="speciality">
    <h1 class="heading">Our <span>Specialities</span></h1>
    <div class="box-container">
      {% for category in categories %}
      <a href="{% url 'category_products' category.id %}" class="box">
        <img class="image" src="{{category.image.url}}" alt="" />
        <div class="content">
          <img src="{{category.icon.url}}" alt="" />
          <h3 class="fw-bold">{{ category.name }}</h3>
          <p>{{ category.description }}</p>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>

  <section id="popular" class="product-list">
    <h1 class="heading">Most <span>Popular</span></h1>
    <div class="row justify-content-md-center">
      {% for product in popular %}
      <div class="col-md-4 mb-2">
        <div class="card card-body">
          <span class="price"> BDT {{ product.product__price }} </span>
          <img class="card-img-top" src="{% static '' %}{{'media/'}}{{product.product__image}}" alt="" />
          <h3>
            <a class="product-title fw-bold" href="{% url 'product_detail' product.product_id %}">
              {{ product.product__name }}
            </a>
          </h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <div class="d-flex justify-content-center align-items-center my-2">
            <label class="mx-2" for="quantity-{{ product.product_id }}">Quantity</label>
            <div class="quantity-input">
              <input type="number" id="quantity-{{ product.product_id }}" class="form-control" min="1" value="1"/>
            </div>
          </div>
          <div>
            <button id="btn-order-{{ product.product_id }}" class="btn-custom btn-order">Order Now</button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>

{% endblock content %}
